@font-face{
    font-family: poppins-regular;
    src: url('../fonts/Poppins,SUSE,Sofia/Poppins/Poppins-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins-regular;
    scroll-behavior: smooth;
}
body{
    background-color: #ccd1d1;
}
.mb{
    margin-bottom: 30px;
}
.container{
    max-width: 992px;
}
/* Nav Section */
#nav{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
#nav.bg{
    background-color: orange;
}
#nav .container{
    min-height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav .container .navbar-brand {
    flex-basis: 33.33%;
    width: 100%;
    padding: 5px 10px;
    align-items: center;
    margin-bottom: 6px;
}
#nav .navbar-brand a{
    /* color: rgba(255, 255, 255, 0.9); */
    color: white;
    font-size: 18px;
    text-decoration: none;
}
#nav .mobile-navbar-icon, #nav #hambargar {
    display: none;
}
#nav .navbar-menu li a, #nav .navbar-icon li a{
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.9); */
    color: white;
    font-size: 18px;
}
#nav >.container > *{
    flex-basis: 33.33%;
}
#nav .navbar-icon .search{
    display: flex;
    /* border: 1px solid yellow; */
}
#nav .navbar-icon input{
    width: 65px;
    border: 1px solid gray;
    border-right: none;
    border-radius: 3px 0 0 3px;
    padding: 4px 4px;
    transition: 0.7s;
    outline: none;
}
#nav .navbar-icon  button{
    width: 30px;
    height: 28.7px;
    justify-content: center; 
    /* border: 1px solid red; */
    border-left: none;
    border-radius: 0 3px 3px 0;
    background: #2e4053;
    color: rgba(255, 255, 255, 0.9);
}
#nav .navbar-menu, #nav .navbar-icon{
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid red; */
}
#nav .navbar-menu li, #nav .navbar-icon li{
    padding: 0 20px;
}

/* Slider Image Section */
#slider .container img{
    width: 100%;
    max-height: 480px;
    object-fit: cover;
    object-position: 100% 10%;
    display: none;
}
#slider .container img.active{
    display: block;
}
#slider .container{
    position: relative;
    border-radius: 5px;
}
#slider .prev, #slider .next{
    position: absolute;
    top: 50%;
    width: 20px;
    height: 25px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: orange;
}
#slider .prev{
    left: 5px;
}
#slider .next{
    right: 5px;
}

/* New Arrival Section & Products Section*/
.products{
    padding: 50px 0;
}
.products .container{
    max-width: 992px;
    margin: auto;
}
.products .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products .cards .card{
    /* border: 1px solid red; */
    flex-basis: 23%;
    border-radius: 4px;
    margin: 5px;
    /* height: 25px; */
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;
}
.products .cards .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 4px 4px 0 0;
    transition: 0.4s ease-in-out;    
}
.products .card .content{
    padding: 5px 0;
}
.products .cards .card:hover img{
    transform: scale(0.96);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.products .rating{
    color: gold;
}
.products .cards .action{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 10px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
.products .cards .action span{
    margin: 8px 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    line-height: 30px;
    color: white;    
}
.products .cards .action span a{
    text-decoration: none;
    color: white;
}
.products .cards .card:hover .action{
    height: 150px;
}
/* products */
.filterable-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.filterable-btn button{
    margin: 0 5px;
    padding: 5px 15px; 
    background-color: #e5e7e9;   
    font-weight: bold;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.filterable-btn button.active{
    background-color: #f39c12;
}
/* COLLECTION SECTION */
#collection{
    padding: 50px 0;
}
#collection> .container{
    display: flex;
    margin: auto;
    padding: 8px 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* border: 2px solid red; */
}
#collection> .container .right{
    flex-basis: 50%;
    position: relative;
}
#collection> .container .right img{
    width: 100%;
    max-height: 249.4px;
    object-fit: contain;
}
#collection> .container .right img:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#collection> .container .right .content{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    width: 100%;
}
#collection> .container .left{
    flex-basis: 50%;
    position: relative;   
}
#collection> .container .left img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 100% 20%;   
}
#collection> .container .left img:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#collection>.container .left .content{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    width: 100%;
}
/* BLOG SECTION */
#blog{
    padding: 50px 0;
    
}
#blog .container{
    margin: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#blog .container h2{
    padding-top: 10px;
}
#blog .container .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
#blog .container .cards .card{
    flex-basis: 32%;
    margin: 4px;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
}
#blog .card .content{
    font-size: 14px;
    padding: 15px 5px;
    position: relative;
}
#blog .container .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    object-position: 70% 20%;
}
#blog .container .card .blog-2{
    object-position: 100% 10%;
}
#blog .container .card .blog-3{
    object-position: 100% 40%;
}

#blog .date{
    color: #fff;
    background-color: orange;
    display: block;
    width: 80px;
    height: 28px;
    line-height: 28px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    top: -17px;
    left: 2px;
}
/* NEWS LETTER SECTION */
#new-letter{
    padding: 60px 0;
    background-image: url('../images/black-friday.png');
    background-size: cover;
    background-position: 100% 60%;    
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#new-letter .container{
    margin: auto;
}
#new-letter form{
    display: flex;
    justify-content: center;
}
#new-letter form input{
    flex-basis: 65%;
    padding: 15px;
    border: 1px solid #f39c12;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
#new-letter form button{
    flex-basis: 10%;
    padding: 15px;
    border: 1px solid #f39c12;
    border-left: none;
    border-radius:  0 5px 5px 0 ;
    background-color: orange;
}
/* FOOTER SECTION */
#footer{
    padding: 50px 0;
    background-color: #2e4053;
    color: white;
}
#footer .container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}
#footer .container ul{
    flex-basis: 30%;
    list-style-type: none;
}
#footer ul li{
    padding: 7px 0;
}
#footer .container .social-media{
    display: flex;
    text-align: center;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer .container .social-media a{
    font-size: 20px;
    text-decoration: none;
    margin: 2px 5px;
    width: 33px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    color: #f39c12;
    transition: 0.5s ease;
}
#footer img{
    width: 45px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 3px;
}
#footer a:hover{
    font-size: 18px;
    color: orange;
}
#footer hr{
    max-width: 1000px;
    margin: auto;
    height: 2%;
}
#footer p{
    padding-top: 30px;
    margin-bottom: 5px;
}
/* GO TO TOP TAP */
#gototop{
    background-color: orange;
    display: block;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 20px; 
    line-height: 40px;
    text-align: center;  
}
/* PRODUCT DETATILS PAGE */
#product-detail .container{
    margin: auto;
    display: flex;
    gap: 6px;
    margin-bottom: 40px;
}
#product-detail .image-div{
    flex-basis: 50%;
}
#product-detail .content{
    flex-basis: 50%;
    padding:  25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#product-detail .content .header{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#product-detail .content .input{
    display: flex;
}
#product-detail .content input{
    width: 60px;
    margin: 5px;
    padding: 3px;
    border: 1px solid #d5dbdb;
    border-radius: 4px;
}
#product-detail .content select{
    width: 130px;
    margin: 5px;
    padding: 3px;
    border: 1px solid #d5dbdb;
    border-radius: 4px;
}
#product-detail .content button{
    padding: 5px 10px;
    background-color: orange;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}
#product-detail .content h4{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s ease;
}
#product-detail .content h4:hover{
    background-color: orange;
    color: white;
}
#product-detail .image-div img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: 100% 60%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#product-detail .sub-images{
    display: flex;
    justify-content: center;
}
#product-detail .sub-images div{
    flex-basis: 24%;
    margin: 5px;
}
#product-detail .sub-images  img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 100% 40%;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    /* border: 1px solid black; */
}
#product-detail .sub-images  img.new-object-position{
    object-position: 100% 70%;
}
#product-detail .sub-images  img:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}